/.idea
/Cinema.API/bin
/Cinema.API/obj/Debug
/Cinema.Application/obj
/Cinema.Client/bin/Debug
/Cinema.Client/bin
/Cinema.API/obj
/Cinema.Application/bin
/Cinema.Client/obj
/Cinema.Domain/bin
/Cinema.Infrastructure/bin
/Cinema.Infrastructure/obj
/Cinema.Infrastructure/obj
/Cinema.Infrastructure/bin
/Cinema.Domain/bin
/Cinema.Client/obj
/Cinema.API/obj
/Cinema.Application/bin
/Cinema.Client/obj
